body {
    background:#ddd;
}
div.invoice-container {
    background:white;
    margin-top:10px;
    padding-top:30px;
    padding-bottom:30px;
}

.navbar.navbar-default {
    background:#222222;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>form>button {
    color:#fff!important;
    line-height:20px;
    padding-top:15px;
    padding-bottom:15px;
    text-decoration:none;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>form>button:hover {
    color:#fff;
    text-decoration:none;
}

.navbar-default .navbar-nav>li>form {
    display:inline;
    padding:0;
    margin:0;
}

.navbar-default .navbar-nav>li>a:hover {
    color:#fff;
}

.avatar img {
    display:block;
    margin:auto;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

h1 {
    font-size:4.5em;
}