body {
    font-family: Roboto, sans-serif;
}

p, li {
    font-size: 16px;
}
/*
* General page styles
*/

button {
    font-family: Titillium Web, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Roboto, sans-serif;
}

/**
 * section (full width of content section)
 * article (centered, fixed-width content area)
 */

section {
    background:#fff;
}

article {
    padding:30px 60px;
    min-height:400px;
}

h2.page-title {
    margin: 0 20px 30px 20px;

}

article p {
    margin: 15px 20px;
    line-height: 1.5;
}

article li {
    margin: 20px 10px;
}

article img.left {
    margin: 0 10px 0 20px;
    float: left;
}

article img.right {
    margin: 0 20px 0 10px;
    float:right;
}

article table {
    border-bottom: solid 1px #dddddd;
    border-left: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
    vertical-align:middle;
}

aside section {
    padding-bottom:5px;
    margin-bottom:5px;
    border-bottom:1px dotted #e8e8e8;

}

.input-group-addon {
    cursor: pointer;
}

section.index table {
    margin:10px 0;
}

section.index table.invoice-table tr td:first-child {
    max-width:100px;
}

section.index table.invoice-table tr td:nth-child(2) {
    max-width:300px;
}

section.index table.invoice-table tr td:nth-child(3) {
    max-width:105px;
}

section.index table.invoice-table tr td:nth-child(4) {
   max-width:100px;
}

section.index table.invoice-table tr td:nth-child(3) input {
    text-align:center;
}

section.index table.invoice-table tr td:nth-child(5) {
    max-width:105px;
}

section.index table.invoice-table input[readonly] {
    background:#fff;
    cursor: not-allowed;
}

section.index select {
    border-radius:0;
}

section.index input.item-qty {
    width:79%;
    margin:0;
}


section.index div.item-qty-toggles {
    width:20%;
    margin:0 0 0 1%;
    display:inline-block;
    line-height:17px;
    text-align:center;
}

.qty-container span {
    cursor:pointer;
}

@media (min-width:768px){
    .show-mobile {
        display:none;
    }
}

@media (max-width:767px){

    .qty-container {
        display:flex;
    }

    section.index input.item-qty {
        width:auto;
        text-align:center;
        float:left;
        border-right:none;
        border-left:none;
        display:flex;
        flex:2;
    }

    .qty-container > span {
        float:left;
        display:block;
        width:40px;
        font-size:20px;
        text-align:center;
        background:#eeeeee;
        height:34px;
        line-height:34px;
        top:0;
        border:1px solid #ccc;
    }

    .qty-container > span.left {
        border-right:none;
        border-radius:4px 0 0 4px;
    }

    .qty-container > span.right {
        border-left:none;
        border-radius:0 4px 4px 0;
    }

    section.index div.item-qty-toggles {
        display:none;
    }

    table.invoice-table {
        width:100%;
    }

    table.invoice-table div {
        width:100%!important;
    }

    table.invoice-table tr:before {
        content: "Item Line";
        font-weight:bold;
        padding:8px 10px;
        display:block;
    }

    table.invoice-table td {
        width:100%!important;
        max-width:100%!important;
        display:block;
    }

    table.invoice-table tr.header {
        display:none;
    }

    .full-mobile {
        width:100%;
        margin-bottom:10px;
    }
}

.toggle-active-addon .input-group-addon  {
    background-color: #fff;
}

.toggle-active-addon .input-group-addon.active {
    background-color: #eee;
}

/**
* Live Search functionality on item name
*/

.index table tr td {
    position:relative;
}

.saved-item {
    display:none;
    position:absolute;
    left:0;
    right:0;
    top:100%;
    z-index:9;
    background: #fff;
    width:100%;
    padding:0;
    margin:0 0 0 -1px;
    border: 1px #eee solid;

}

.saved-item li {
    padding: 7px;
    margin:0;
    list-style:none;
    display:block;
    cursor:pointer;
}

.saved-item li:hover,
.saved-item li.active {
    background-color:#eee;
}

/**
* Account Page
*/

table.account-client-table {
    max-height:600px;
    overflow:auto;
}

/**
 * header is full width, with a div container inside containing the nav element.
 * .navbar-brand is logo/page header embedded in navbar
 */

header {
    background:#f7f7f7;
    margin:0;
    border:0;
    border-bottom:1px solid #e7e7e7;

}

nav {
    margin:0!important;
    border:none!important;
    font-family: Roboto, sans-serif;
    padding:0;
}

a.navbar-brand { /* The page title embedded in the navbar */
    color:#B42117!important;
    font-size: 1.7em;
    font-family: Ubuntu, helvetica, sans-serif;
}

.navbar-brand small {
    font-size:0.6em;
    line-height:100%;
}

.client-table tr td {
    vertical-align:middle;
}

/**
 * Page footer
 */

footer {
    background:transparent;
    border-top:1px solid #e7e7e7;
    padding: 25px 0;
}

footer div {
    text-align:center;
    font-weight: bold;
    padding:0;
    margin:0;
}
/**
* General Rules
*/

.inline-block {
    display:inline-block;
}

.inline {
    display:inline;
}

.block {
    display:inline;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

a[disabled=disabled],
button[disabled=disabled] {
    cursor:not-allowed;
}


/* Use instead of bootstrap to avoid important tag */
.hidden-element {
    display:none;
}